<div class="product-container">
  <div class="product-status">
    <p class="product-status-in-stock">
      <mat-icon >check_circle</mat-icon>
      Em Estoque
    </p>
    <p class="product-status-no-stock">
      <mat-icon>highlight_off</mat-icon>
      Sem Estoque
    </p>
  </div>
  <div class="product-image">
    <img
      src="https://down-br.img.susercontent.com/file/1edc91c6374ce5dacfc6c5d13e5ee08b"
      alt="teste"
    />
  </div>
  <div class="product-reviews">
    <div class="reviews-stars">
      <mat-icon class="star star-bold">star</mat-icon>
      <mat-icon class="star star-bold">star</mat-icon>
      <mat-icon class="star star-bold">star</mat-icon>
      <mat-icon class="star star-bold">star</mat-icon>
      <mat-icon class="star star-light">star</mat-icon>
    </div>
    <div class="product-review-count">
      <p>Reviews (4)</p>
    </div>
  </div>
  <div class="product-content">
    <p>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On...</p>
  </div>
  <div class="product-price">
    <p class="previous-price">R$ 499,00</p>
    <p class="new-price">R$ 499,00</p>
  </div>
</div>
