.banner-container {
  display: flex;
  overflow: hidden;
  position: relative;

  .banner-images {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 37rem;
    transition: 0.5s ease;
  }

  .banner-item {
    flex-shrink: 0;
    height: 100%;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .banner-arrow-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;

    button {
      padding: 1.2rem;
      cursor: pointer;
    }

    .arrow {
      color: #fff;
      font-size: 2.2rem;
    }
  }
}
