<app-container>
  <div class="benefit-container flex flex-center">
    <div class="benefit-item">
      <div class="benefit-container-icon">
        <mat-icon [inline]="true" class="icon">support_agent</mat-icon>
      </div>
      <p class="benefit-item-title">
        <span>Suporte ao produto</span>
      </p>
      <p class="benefit-item-text">
        Até 3 anos de garantia no local disponível para sua tranquilidade.
      </p>
    </div>
    <div class="benefit-item">
      <div class="benefit-container-icon">
        <mat-icon [inline]="true" class="icon">account_circle</mat-icon>
      </div>
      <p class="benefit-item-title">
        <span>Conta pessoal</span>
      </p>
      <p class="benefit-item-text">
        Com grandes descontos, entrega gratuita e um especialista em suporte
        dedicado.
      </p>
    </div>
    <div class="benefit-item">
      <div class="benefit-container-icon">
        <mat-icon [inline]="true" class="icon">payments</mat-icon>
      </div>
      <p class="benefit-item-title">
        <span>Economia incrível</span>
      </p>
      <p class="benefit-item-text">
        Até 70% de desconto em novos produtos, você pode ter certeza do melhor
        preço.
      </p>
    </div>
  </div>
</app-container>
