
<app-container>
  <app-banner></app-banner>

  <app-product-line>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
  </app-product-line>
  <app-product-line>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
  </app-product-line>
  <app-product-line>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
    <app-product-card></app-product-card>
  </app-product-line>
  <section class="brands-container">
    <div class="brand-item">
      <img src="assets/img/brands/brand-1.png" alt="Imagem Marca Roccat">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-2.png" alt="Imagem Marca Msi">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-3.png" alt="Imagem Marca Razer">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-4.png" alt="Imagem Marca thermaltake">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-5.png" alt="Imagem Marca adata">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-6.png" alt="Imagem Marca hewlett packard">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-7.png" alt="Imagem Marca gigabyte">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-1.png" alt="Imagem Marca Roccat">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-2.png" alt="Imagem Marca Msi">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-3.png" alt="Imagem Marca Razer">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-4.png" alt="Imagem Marca thermaltake">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-5.png" alt="Imagem Marca adata">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-6.png" alt="Imagem Marca hewlett packard">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-7.png" alt="Imagem Marca gigabyte">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-1.png" alt="Imagem Marca Roccat">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-2.png" alt="Imagem Marca Msi">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-3.png" alt="Imagem Marca Razer">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-4.png" alt="Imagem Marca thermaltake">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-5.png" alt="Imagem Marca adata">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-6.png" alt="Imagem Marca hewlett packard">
    </div>
    <div class="brand-item">
      <img src="assets/img/brands/brand-7.png" alt="Imagem Marca gigabyte">
    </div>
  </section>
</app-container>
