
@import 'bootstrap/scss/bootstrap';
@import "./node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

input {
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
}

img {
  display: block;
  max-width: 100%;
}

ol, ul{
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between{
  justify-content: space-between;
  align-items: center;
}

@for $i from 1 through 10 {
  .gap-#{$i} {
    gap: $i * 1rem;
  }
}




